{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react-hooks", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",

    "react/jsx-filename-extension": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  }
}
